.box1{
    border: 5px solid #000;
}
.box2{
    background-color: greenyellow;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 2px;
    border: 2px dashed blue;}

.box3{
    border-color: green blue red pink;
    border-width: 1px;
    border-style: solid;
}

#box4{ 
    border: 30px 100px;
    border: 1px solid #000;
    
}